*{margin:0px;
  padding:0px;
}

.media{height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color: #DDDFF5;
}

a{
  width:200px;
  height:200px;
  border-radius:20%;
 text-align:center;
 line-height:200px;
 box-shadow: 10px 10px 4px #B7B7B7,
            -10px -10px 4px #FFFFFF;
 margin:20px;
}

a i{ color: #8DCC42;
  transition: all .3s linear ;
  
}

a:hover i{ transform: scale(2.4);
  ;
  
  
}

